<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="content">
  <div class="header">

    <ul>
      <li><a href="/">Home</a></li>
      <!--<li sec:authorize="hasRole('ROLE_MANAGER')"><a href="/process_application">Обработать заявку</a></li>
      <li sec:authorize="hasRole('ROLE_USER')"><a href="/send_application">Отправить заявку</a></li>
      <li sec:authorize="hasRole('ROLE_USER')"><a href="/user_application">Мои заявки</a></li>
      <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">Панель администратора</a></li>-->
      <li><a href="/logout">Выйти</a></li>
    </ul>
  </div>
</div>
</html>