<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="css/login_reg.css">
</head>
<body>
    <div class="frame">
        <form method="POST" action="/login">

            <header class="header">
                <h2>Авторизация</h2>
            </header>

            <div class="field-set">

                <input class="form-input" type="email" name="username" placeholder="Email" required>
                <input class="form-input" type="password" name="password" placeholder="Пароль" required>

                <button type="submit">Вход</button>
            </div>

            <div>
                <a href="/registration"><button class="btn submits sign-up" type="button">Зарегистрироваться</button></a>
            </div>

        </form>
    </div>
</body>
</html>