<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <div class="signup">
        <form th:action="@{/registration}" method="POST" modelAttribute="userForm">

            <header class="header">
                <h2>Регистрация</h2>
            </header>

            <input type="text" name="name" class="form-input" placeholder="Имя">
            <input type="text" name="surname"  class="form-input" placeholder="Фамилия">
            <input type="text" name="patronymic"  class="form-input" placeholder="Отчество">
<!--            <input type="text" name="email"  class="form-input" placeholder="email">-->
            <input type="email" name="username"  class="form-input" placeholder="email">
            <input type="password" name="password" class="form-input" placeholder="Пароль" required>
            <input type="password" name="passwordConfirm" class="form-input" placeholder="Повторите пароль">

            <button class="log-in" type="submit">Зарегистрироваться</button>

            <div class="other">
                <a href="/login"><button class="btn submits sign-up" type="button">Войти</button></a>
            </div>

        </form>
    </div>
</body>
</html>